.invoiceData {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 20px;
}

.invoiceMainInfo {
  justify-content: flex-start;
}

.leftItem:not(:last-child) {
  margin-bottom: 20px;
}

.invoiceDataItem {
  width: 100%;
  height: max-content;
  padding: 27px 30px 30px 30px;
  border-radius: 10px;
  background-color: var(--whiteF8);
  overflow-x: auto;
}

.invoiceDataMain {
  padding: 20px 30px 30px 30px;
}

.invoiceHeader {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 10px 13px 10px;
  border-bottom: 1px solid var(--greyE1);
}

.theinvoiceTitle {
  font-size: 24px;
  font-weight: 400;
}

.status {
  padding: 0 20px;
}

.statusTrue {
  color: var(--green76);
}

.statusFalse {
  color: var(--redCF);
}

.invoiceDataList {
  min-width: 200px;
  margin-right: 20px;
}

.invoiceDataField {
  justify-content: flex-start;
}

.invoiceDataField:not(:last-child) {
  margin-bottom: 18px;
}

.invoiceDataTitle {
  margin-right: 12px;
}

.description {
  align-self: start;
}

.invoiceTable {
  width: 100%;
}

.invoiceTableTitles {
  position: relative;
}

.titlesItem {
  padding: 0 5px 20px 5px;
}

.cellItem {
  padding-top: 25px;
}

.invoiceTableTitles::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--greyE1);
  pointer-events: none;
}

.dataRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.moneyHeader {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid var(--greyE1);
}

.moneyHeaderText {
  font-size: 18px;
}

.moneyHeaderSumm {
  margin-right: 20px;
}

.moneyTable {
  width: 100%;
}

.addPayBtn {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid var(--black05);
  transition: .3s;
}

.line {
  position: absolute;
  inset: 5px;
  top: calc(50% - 1px);
  display: block;
  height: 1px;
  background-color: var(--black05);
}

.verLine {
  transform: rotate(90deg);
}

.invoiceDataItem.paymentsBox {
  margin-bottom: 20px;
  overflow-x: unset;
}

.approved {
  display: block;
  padding: 12px 30px;
  border-radius: 5px;
  color: var(--whiteF8);
  font-size: 16px;
  font-weight: 400;
}

.approvedTrue {
  background-color: var(--greenABB);
}
.approvedFalse {
  background-color: var(--redCF);
}

.invoicesList {
  width: 100%;
  height: max-content;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--whiteF8);
}

.invoicesListTitle {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--greyE1);
}

.controlBtn {
  border: unset;
  background-color: transparent;
  margin-left: 10px;
}

.controlBtn svg * {
  transition: .3s;
}

.fillSVG:hover svg * {
  fill: var(--green63);
}

@media (max-width: 1400px) {
  .dataRight {
    grid-template-columns: 100%;
  }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .invoiceData {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
  .invoiceHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .approvedBox {
    align-self: flex-end;
    margin-top: 15px;
  }

  .invoiceMainInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .invoiceDataList {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
