.projectContent {
  width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: var(--whiteF8);
}

.titles {
  position: relative;
}

.titles::after {
  content: '';
  position: absolute;
  inset: 0;
  border-bottom: 1px solid var(--greyE1);
  pointer-events: none;
}

.titlesItem {
  padding: 0 10px 25px 10px;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  .projectContent {
    overflow-y: scroll;
  }

}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
