.controls {
  position: relative;
}

.userBtn {
  border: unset;
  background-color: transparent;
}

.userBtn p {
  transition: .3s;
}

.userBtn:hover svg path {
  transition: .3s;
}

.userBtn:hover svg path {
  stroke: var(--green76);
}

.userBtn:hover p {
  color: var(--green76);
}

.name {
  margin-right: 10px;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.balance {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  color: var(--grey78);
}
