.paymentItem {
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.paymentItem::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  transition: .3s;
  z-index: 1;
}

.paymentItem:hover::after {
  background-color: var(--greenC8);
}

.paymentCell {
  position: relative;
  padding: 22px 5px;
  z-index: 5;
}

.cellWidth {
  max-width: 12%;
}

.centerCell {
  text-align: center;
}

.statusTrue {
  color: var(--green76);
}
.statusFalse {
  color: var(--redCF);
}

.projectName {
  max-width: 300px;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .projectName {
    min-width: 200px;
  }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
