.staffPerson {
  position: relative;
  background-color: transparent;
  transition: .3s;
}

.staffPerson::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  transition: .3s;
  z-index: 1;
}

.staffPerson:hover::after {
  background-color: var(--greenC8);
}

.tableCellStaff {
  position: relative;
  padding: 20px 10px 20px 10px;
  z-index: 5;
}

.phone {
  white-space: nowrap;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .tableCellStaff {
    padding: 20px 5px 20px 5px;
  }
}

@media (max-width: 576px) {}
