.staffPerson {
  position: relative;
  background-color: transparent;
  transition: .3s;
}

.tableCellStaff {
  position: relative;
  padding: 20px 10px 20px 10px;
  z-index: 5;
}

.phone {
  white-space: nowrap;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .tableCellStaff {
    padding: 20px 5px 20px 5px;
  }
}

@media (max-width: 576px) {}
