.paymentAddPopupStatic {
  position: relative;
  width: 100%;
  height: max-content;
}

.paymentPopupStaticWindow {
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  padding: 25px 30px 30px 30px;
  border-radius: 10px;
  background-color: var(--whiteF8);
}

.inputBoxStatic {
  width: 100%;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.popupHeaderStatic {
  margin-bottom: 30px;
  padding: 0 0 22px 10px;
  border-bottom: 1px solid var(--greyE1);
  font-size: 18px;
  font-weight: 400;
}

.inputHalf {
  width: 176px;
}

.select {
  border-radius: 5px;
  padding: 20px 20px;
}

.attachmentFieldDocument {
  display: inline-block;
  margin-right: 10px;
  border-bottom: 1px solid var(--black05);
}

.scansBox input {
  visibility: hidden;
  max-width: 0;
}

.fileLabel {
  width: 100%;
  justify-content: flex-start;
}

.labelText {
  min-width: 185px;
}

.inputFile {
  background-color: #fff;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .inputBoxStatic {
    flex-direction: column;
    align-items: flex-start;
  }

  .labelText {
    min-width: 0;
    margin-bottom: 10px;
  }

  .inputFile {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .fileLabel {
    flex-direction: column;
    align-items: flex-start;
  }
}
