.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.inputBox {
  position: relative;
}

.inputHalf {
  width: 176px;
}

@media (max-width: 576px) {
  .group {
    grid-template-columns: 100%;
    gap: 20px;
  }
}

.progress {
  background-color: red;
}
