.invoicesItem {
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.invoicesCell {
  position: relative;
  padding: 22px 5px;
  z-index: 5;
}

.projectName {
  max-width: 300px;
}

.statusTrue {
  color: var(--green76);
}
.statusFalse {
  color: var(--redCF);
}

.greenCell {
  background-color: var(--green76);
}

.redCell {
  background-color: var(--redCF);
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .projectName {
    min-width: 200px;
  }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
