.moneyCell {
  position: relative;
  padding: 20px 5px;
  text-align: center;
  z-index: 5;
}

.statusTrue {
  color: var(--green76);
}

.statusFalse {
  color: var(--redCF);
}

.invoiceItem {
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.paymentControls {
  z-index: 50;
}
