.pageControlItem:not(:first-child) {
  margin-left: 25px;
}

.searchInput {
  border: unset;
  border-bottom: 1px solid var(--black05);
  width: 0;
  transition: .3s;
  background-color: transparent;
}

.searchInput.searchVisible {
  width: 300px;
}

.searchInput:focus {
  outline: unset;
}

.controlsBtn {
  border: unset;
  background-color: transparent;
}

.controlsBtn svg path {
  transition: .3s;
}

.controlsBtn:hover svg path {
  stroke: var(--green63);
}
.controlsBtn:active svg path {
  stroke: var(--black05);
}

.invoicesBtnBlock {
  margin-left: 20px;
}

.invoicesBtn:not(:last-child) {
  margin-right: 20px;
}

.invoicesBtn {
  padding-bottom: 5px;
  border: unset;
  border-bottom: 1px solid var(--black05);
  background-color: transparent;
}
