:root {
  --white: #FFFFFF;
  --whiteF8: #F8F8F8;
  --grey78: #787878;
  --greyF1: #F1F1F1;
  --greyE1: #E1E1E1;
  --black05: #050505;
  --black34: #343434;
  --green76: #769538;
  --green89: #899E60;
  --green63: #638423;
  --greenC8: #C8DCA1;
  --greenABB: #ABBF83;
  --redCF: #CF3F3F;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
