.paymentItemContent {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 30px;
}

.paymentList {
  width: 100%;
  height: max-content;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--whiteF8);
}

.paymentListTitle {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--greyE1);
}

@media (max-width: 768px) {
  .paymentItemContent {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media (max-width: 576px) {}
