@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500&display=swap');
@import url(./cssRoots/root.css);

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body.modal-show {
  position: relative;
  overflow: hidden;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="file"] {
  visibility: hidden;
  max-width: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--black05);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 14px 30px;
  border: unset;
  border-radius: 5px;
  background-color: var(--green76);
  color: var(--whiteF8);
  font-size: 16px;
  font-weight: 400;
  transition: .3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--green89);
}

.btn:active {
  background-color: var(--green63);
}

.btnTransparent {
  padding: 13px 30px;
  color: var(--black05);
  border: 1px solid var(--black05);
  background-color: transparent;
}

.btnTransparent:hover {
  color: var(--black34);
  border: 1px solid var(--black34);
  background-color: transparent;
}

.btnTransparent:active {
  color: var(--black05);
  border: 1px solid var(--black05);
  background-color: transparent;
}

.filterBtn {
  padding: 7px 15px;
}

.btn:disabled {
  pointer-events: none;
  background-color: var(--grey78);
}

.btn.progress {
  pointer-events: none;
  background-color: var(--grey78);
}

.absoluteLink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 15;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.tableRow {
  position: relative;
  z-index: 1;
  display: table-row;
}

.tableRowHov {
  transition: .3s;
}

.tableRowHov:hover {
  background-color: var(--greenC8);
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.tableCell:first-child {
  border-radius: 5px 0 0 5px;
}

.tableCell:last-child {
  border-radius: 0 5px 5px 0;
}

.leftCell {
  text-align: left;
}

.tableHeader {
  display: table-header-group;
}

.tableBody {
  display: table-row-group;
}

.imageBox {
  overflow: hidden;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nonTouch {
  pointer-events: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  background-color: var(--greyF1);
  z-index: 200;
  overflow: scroll;
}

.popupWindow {
  flex-direction: column;
  background-color: var(--whiteF8);
  border-radius: 10px;
  padding: 30px;
  max-height: 100%;
  overflow-y: auto;
}

.popupHeader {
  margin-bottom: 30px;
  padding: 0 0 22px 10px;
  border-bottom: 1px solid var(--greyE1);
  font-size: 24px;
  font-weight: 400;
}

.popupform {
  flex-direction: column;
  align-items: flex-start;
}

.popupInputBox {
  position: relative;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 752px;
}

/* .popupInputBox.popupBoxError::after {
  content: '!';
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: var(--redCF);
  border-radius: 50%;
  border: 1px solid var(--redCF);
} */

.popupInput {
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid var(--grey78);
  color: var(--black05);
  font-size: 16px;
}

.popupTextarea {
  resize: none;
  height: 90px;
}

.popupInput.popupError {
  border: 1px solid var(--redCF);
}

.popupInput::placeholder {
  color: var(--grey78);
  font-size: 16px;
}

.popupInput:focus {
  outline: unset;
}

.popupErrorMessage {
  position: absolute;
  bottom: -16px;
  left: 10px;
  color: var(--redCF);
  font-size: 12px;
}

.popupInputBox .popupLabel~.popupErrorMessage {
  left: 195px;
}

.popupBtnsWrapper {
  align-self: flex-end;
}

.popupBtnsWrapper .btnTransparent {
  margin-right: 20px;
}

.popupLabel {
  min-width: 185px;
}

.errorForm {
  color: var(--redCF);
  margin-top: 10px;
  max-width: 100%;
}

.react-select-container {
  width: 100%;
}

.react-select__control {
  padding: 7px 0 7px 15px;
  border-radius: 5px !important;
  border-color: var(--grey78) !important;
}

.react-select__menu-notice {
  position: relative;
  color: transparent !important;
}

.react-select__menu-notice::after {
  content:'Совпадений нет';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--black05);
}

.filterForm {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--whiteF8);
  margin-bottom: 10px;
}

.filterHeader {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--greyE1);
}

.filterHeader .btn:not(:last-child) {
  margin-right: 25px;
}

.filterFields {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.addRowFilterFields {
  margin-top: 15px;
}

.filterColumn {
  flex-direction: column;
  align-items: flex-start;
}

.filterLabel {
  margin-right: 10px;
}

.filterColumn .filterLabel {
  margin-right: 0;
  margin-bottom: 10px;
}

.filterTitle {
  font-size: 25px;
}

.filterInputBox {
  width: 150px;
  margin-bottom: 0;
}

.filterInput {
  width: 100%;
  padding: 7px 10px;
}

.fromToFilter .filterInputBox {
  width: 130px;
}

.fromToFilter .filterInputBox:not(:last-child) {
  margin-right: 10px;
}

.nowrapString {
  white-space: nowrap;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .popup {
    padding: 15px;
  }

  .popupWindow {
    width: 100%;
    max-width: 812px;
    max-height: 100%;
  }

  .popupInputBox {
    width: 100%;
  }

  .filterInputBox {
    width: 150px;
    margin-bottom: 10px;
  }

  .fromToFilter {
    flex-direction: column;
  }

  .fromToFilter .filterInputBox:not(:last-child) {
    margin-right: 0;
  }

  .fromToFilter .filterInputBox:first-child {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .popupLabel {
    min-width: 0;
    margin-bottom: 10px;
  }

  .popupInputBox {
    flex-direction: column;
    align-items: flex-start;
  }

  .popupInputBox .popupLabel~.popupErrorMessage {
    left: 10px;
  }
}

@media (max-width: 576px) {
  .popupWindow {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .filterHeader {
    flex-direction: column;
  }

  .filterHeader div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .filterTitle {
    align-self: flex-start;
    margin-bottom: 10px;
  }

  .filterFields {
    flex-direction: column;
  }

  .filterColumn {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .filterInputBox {
    width: 100%;
  }

  .fromToFilter {
    width: 100%;
  }

  .fromToFilter .filterInputBox {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .popupBtnsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-end;
  }

  .popupBtnsWrapper .btnTransparent {
    margin-right: 0;
  }
}
