.inputBoxStatic {
  width: 100%;
  margin-bottom: 20px;
}

.popupHeaderStatic {
  margin-bottom: 30px;
  padding: 0 0 22px 10px;
  border-bottom: 1px solid var(--greyE1);
  font-size: 18px;
  font-weight: 400;
}

.popupStaticWindow {
  width: 100%;
  height: max-content;
  padding: 25px 30px 30px 30px;
  border-radius: 10px;
  background-color: var(--whiteF8);
}

.inputCheckBox {
  margin-bottom: 20px;
}

.checkLabel {
  margin-right: 30px;
}

.inputHalf {
  width: 176px;
}

.labelText {
  min-width: 185px;
}

.fileLabel {
  position: relative;
  max-width: max-content;
  width: 100%;
  justify-content: flex-start;
}

.fileName {
  position: absolute;
  right: 10px;
  bottom: -15px;
  color: var(--green63);
  font-size: 12px;
}

.inputFile {
  background-color: #fff;
  margin-right: 10px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.fileBox {
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 5px 0 5px 0;
  margin-right: 15px;
}

.filesContainer {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.deleteFileBtn {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid var(--black05);
  transform: rotate(45deg);
  transition: .3s;
}

.line {
  position: absolute;
  inset: 5px;
  top: calc(50% - 1px);
  display: block;
  height: 1px;
  background-color: var(--black05);
  transition: .3s;
}

.verLine {
  transform: rotate(90deg);
}

.deleteFileBtn:hover {
  border: 1px solid var(--redCF);
}

.deleteFileBtn:hover .line {
  background-color: var(--redCF);
}

.deleteFileBtn:active {
  border: 1px solid var(--black05);
}

.deleteFileBtn:active .line {
  background-color: var(--black05);
}

.fullBtn {
  padding: 10px 15px;
  margin-left: 30px;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .checkLabel {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .fileLabel {
    flex-direction: column;
  }

  .labelText {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .btnsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-end;
  }

  .btnsWrapper button {
    margin: 0 !important;
  }
}


