.controlBtn:not(:last-child) {
  margin-right: 10px;
}

.controlBtn {
  position: relative;
  border: unset;
  background-color: transparent;
}

.controlBtn svg * {
  transition: .3s;
}

.strokeSVG:hover svg * {
  stroke: var(--green63);
}

.fillSVG:hover svg * {
  fill: var(--green63);
}

.deleteBtn {
  position: relative;
  top: -1px;
}
